<% content_for :script do %>
	<script>$(document).ready(buildMap);</script>
<% end %>

<div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
function buildMap() {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
};
</script>
