<%= link_to new_professional_session_path do%>
	<navItem class="link-height"><p class="links">Sign up</p></navItem>
<% end %>
			<navItem class="link-height"><p class="links">Sign in</p></navItem>
			<navItem class="link-height"><p class="links">Search</p></navItem>
			<navItem class="link-height"><p class="links">Blank</p></navItem>
			