<column class="col-sacrificial1 span_1_of_16"></column>
<% @professions.each do |profession| %>
	<column class="col-sacrificial1 span_2_of_16">
  <h5><a href='/professions/<%=profession.id%>'> <%= profession.role %> </a></h5>
  <% buddies = Profile.where(:profession_id => profession.id) %>
  <% buddies.each do |buddy| %>
    <%= image_tag buddy.image.url(:thumb) %>
    <p><%= buddy.name %></p>
  <% end %>
  </column>
<% end %>