<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @professional.profile.name %>,</p>
    <p>
      I saw your profile on onedayexperience.com, and was really interested to hear more about what you do.
    </p>
    <p>I look forward to hearing from you,</p>
    <p><%= @student.name %></p>
    <p><%= @student.email %></p>
  </body>
</html>
