#main {
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.photo_field {
  display: block;
  
}

spacer.large {
  height:25px;
  display: block;
}

spacer.small {
  height: 10px;
  display: block;
}

img#site-img {
  display: block;
  height: 300px;
  width: 300px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  /*padding-bottom: 10%;*/
  z-index: -1;

}