/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*********************************
			Main html parts
*********************************/

html {
	box-sizing: border-box;
}

body {
}

/*********************************
This is for the background-image
*********************************/
body::after {
  content: "";
  background: url('../images/paintbrush.jpg');	
  opacity: 0.5;
  top: 0!important;
  left: 0!important;
  bottom: 0!important;
  right: 0!important;
  background-size: cover;
  position: absolute;
  z-index: -1;   
}

*, *:before, *:after {
  box-sizing: inherit;
}	

section {
	
	float: left;
	padding: 0.5px;
	height: 100%;
}

h2 {

}

.login {
	float: right;
	width: 100%;
	text-align: right;
	display: inline-block;
}

.col1 {
	float:left;
	width: 33%;
	height: 100%;
}

.col2 {
	width: 33%;
}

.col3 {
	width: 33%;
}


.pro-details {
	text-align: center;
}

/*TODO: refactor all pro things into one class if possible*/
#pro-name {
	display: block;
	border: solid black 1px;
}

#pro-img {
	display: block;
	border: solid black 1px;
	height: 15em;
}

#pro-prof {
	display: block;
	border: solid black 1px;
}

#pro-details {
	display: block;
	border: solid black 1px;
}

.answers {
	border: solid black 1px;
	float: left;
	text-align: center;
	height: 100%;
	width: 50%;
	padding: .5em;
}