/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	box-sizing: border-box;
}

body {
	background-color: #E3E1D4;
}

*, *:before, *:after {
  box-sizing: inherit;
}	

section {
	float: left;
	padding: 0.5px;
}

[class*='col'] {
	width:33%;
	height: 100vh;
	display: inline-block;
	position: relative;
	/*float: left;*/
}

#tokyo {
	vertical-align: middle;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.diamond {
	position: absolute;
	border: solid black 1px;
	width: 2em;
  height: 2em;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 310px;
}

#back {
	position: absolute;
	top: 50%;
	margin-top: -1em;
	right: 70%;
	margin-right: -1em;
	}

#forward {
	position: absolute;
	top: 50%;
	margin-top: -1em;
	left: 70%;
	margin-left: -1em;
	}

#no {
	position: absolute;
	width: 6em;
  height: 6em;
  border: solid black 1px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
  top: 50%;
	margin-top: -3.2em;
	right: 35%;
	margin-right: -3em;
}

#yes {
	position: absolute;
	width: 6em;
  height: 6em;
  border: solid black 1px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
  top: 50%;
	margin-top: -3.2em;
	left: 35%;
	margin-left: -3em;
}

