

#login, #register {
	margin-top: 30vh;
	text-align: center;
}
 
 signin {
 	padding: 1em;
 	position: absolute;
 	left: 45%;
 }

 signup {
 	padding: 1em;
 	position: absolute;
 	left: 45%;
 }

 .formlabels {
 	padding-bottom: .5em; 
 }

 .devisesharedlinks {
 	display: block;
 	text-align: center;
 }

 .actions {
 	padding-bottom: 1em;
 	text-align: center;
 }

 .field {
 	padding: .3em;
 }

 #loginlinks {
 	text-align: center;
 }*/
