html {
	box-sizing: border-box;
}

body {
	background-color: #ECECEC;
}

*, *:before, *:after {
  box-sizing: inherit;
}	

section {
	float: left;
	padding: 0.5px;
}

body {
	margin-top:0px;
	padding-top: 0px
}

/* font styles */
h1, h2, h3, h4, h5, p {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.5px;
}

h1, h2, h3 {
	margin-top: 4px;
	margin-bottom: 4px
}

h4, h5, p {
	margin-top: 4px;
	margin-bottom: 4px
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 13px;
}

em, p {
	font-size: 13px ;	
}

.sub {
	font-weight: 300;
}

a:link {
    text-decoration: none;
}

container {
	min-height: 100vh;
	width: 100%;
  display:inline-block;
}

/*custom html tags*/
circle {
	border-radius: 50%;
	display: block
}

@media only screen and (min-width: 1260px) {
	#test {
		color: red;
	}
	#bodyContainer {
		background-color: #ECECEC;
		display: block;	
		margin-left:auto;
  	margin-right:auto;
	}
}