map#google_map {
	/*visibility: 'hidden';*/
	width:25%;
	height:100%;
	z-index: 5;
	
}

.individual-map {
	width:100%;
	height:auto;	
}

.photo_field {
	display: block;
  /*background-color: white;*/
}