map#google_map {
	/*visibility: 'hidden';*/
	width:25%;
	height:100vh;
	z-index: 5;
	position:absolute;
	right: 8%;
	top: 52%;
}

.individual-map {
	width:100%;
	height:100%;	
}

.photo_field {
	display: block;
  /*background-color: white;*/
}