.vertical_align {
	position: relative;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.photo_field {
	display: block;
  /*background-color: white;*/
}

circle.navigation-circle {
	
	width:100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
	top:50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#left-circle-img {
	width:100%;
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#right-circle-img {
	width:100%;
	
}

.profile-img{
	width: 17.5%;
}

img#field-img {
	display: block;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	/*padding-bottom: 10%;*/
	z-index: -1;

}

section.fixed-height {
	height:60vh;
}

.feature-description {

	display: block;
	position: relative;
	width:100%;
	
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 8%;
	background-color: rgba(173, 202, 214, 0.9);
}

#index-feature-description {

	display: block;
	position: absolute;
	width:100%;
	top: 66%;
	left:66%;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 8%;
	background-color: rgba(173, 202, 214, 0.9);
}

