.vertical_align {
	position: relative;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}



circle.navigation-circle {
	
	width:60%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
	top:50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#test-circle2 {
	width: 100px;
	height: 100px;
	border: 1px solid #6ABEDB;
	position: relative;
	border-radius:50%;
	margin-right: auto;
	margin-left: auto;
}

#left-circle-img {
	width:100%;
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#right-circle-img {
	width:100%;
	
}

.profile-img{
	width: 17.5%;
}

img#field-img {
	display: block;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	/*padding-bottom: 10%;*/
	z-index: -1;

}

section.fixed-height {
	height:60vh;
}

.feature-description {

	display: block;
	position: relative;
	width:100%;
	
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 8%;
	background-color: rgba(173, 202, 214, 0.9);
}

#index-feature-description {

	display: block;
	position: absolute;
	width:100%;
	top: 78%;
	left:66%;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 8%;
	background-color: #1C1E1D;
}

#index-feature-job-description {

	display: block;
	position: absolute;
	width:100%;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 6%;
	padding-right: 6%;
	padding-left: 6%;
	padding-bottom: 10%;
	/*background-color: #1C1E1D;*/
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


}

