#search_box {
	/*padding-top: 2em;*/
	text-align: center;
}

#failed_search {
	padding-top: 1em;
	text-align: center;
	color: white;
}

#searchbox {
	position: absolute;
	top: 40%;
	left: 40%;
	width:40%;
	height:20%;
	background-color: rgba(28, 30, 29, 0.9);
}

#search_for {
	color: white;
}

a {
  color:inherit;
  text-decoration: none;
 }

#submit_search {
	color: black;
}