<!-- Cols in place for positioning purposes -->
<section class="col-sacrificial1 span_1_of_16"></section>
<section class="col-sacrificial1 span_1_of_16"></section>
<section class="col-sacrificial2 span_1_of_16"></section>
<section class="col-sacrificial span_1_of_16"></section>

<body>
<!-- Center field - site image -->
  <section class="col-center span_9_of_16" id="main">

    <h1>Tell me and I'll forget · Show me and I'll remember · Involve me and I'll understand</h1>

    <spacer class="small"></spacer>
    
    <h2>THE ONE DAY EXPERIENCE</h2>

    <spacer class="small"></spacer>

    <h4>
    "One Day" experience gets young people in contact with passionate professionals, active in a field they find interesting, to meet up with them -on the job- for one day. 
    </h4>

    <spacer class="small"></spacer>
    <h4>
    The One Day experience will help young people make better informed choices about their future career. 
    Through One Day, young people one can become a passionate professional through many different, and often surprising, routes. One Day helps young people make their own well informed career decisions at a young age and will prevent youth unemployment at a later stage.
    </h4>

    <spacer class="large"></spacer>

    <h2>ONE DAY IN A NUTSHELL!</h2>

    <spacer class="small"></spacer>

    <h4>
    "One Day" is an online platform that gives young people an opportunity to get in contact with passionate professionals and spend a day together.
    </h4> 

    <spacer class="small"></spacer>

    <h4>
    The young person will discover what the job entails, and the route through which the professional reached their job. The experience will also widen the young person's network.
    </h4> 

    <spacer class="small"></spacer>

    <h4>
    On the other hand, One Day gives the possibility for professionals to share with young people what they are passionate about, explaining what they like about it (and what not) and to support and inspire young people to find their way to do what they are passionate about.
    </h4>
    
    <spacer class="small"></spacer>
    
    <h4>
    At the same time they get to know passionate young people who are interested in their field of work, who might become their colleugues in the future.... One Day, or their clients.
    </h4>

    <spacer class="large"></spacer>

    <feature class="photo_field ">
      <img align="middle" src="/images/OneDayExperience.jpg" id="site-img" />
    </feature>
  </section>
<!-- End of center field -->
</body>

<!-- Cols in place for positioning purposes -->
<section class="col-sacrificial span_1_of_16"></section>
<section class="col-sacrificial2 span_1_of_16"></section>
<section class="col-sacrificial1 span_1_of_16"></section>
<section class="col-sacrificial1 span_1_of_16"></section>