<!-- Cols in place for positioning purposes -->
<section class="col-sacrificial1 span_1_of_16"></section>
<section class="col-sacrificial1 span_1_of_16"></section>
<section class="col-sacrificial1 span_1_of_16"></section>


<body>
<!-- Center field - site image -->
  <section class="col-center span_10_of_16" id="main">


    <spacer class="small"></spacer>
    <feature class="photo_field ">
      <img align="middle" src="/images/OneDayExperience.jpg" id="site-img" />
    </feature>
    <spacer class="small"></spacer>
    <h3 style="text-align:center">· Tell me and I'll forget · <br> · Show me and I'll remember · <br> · Involve me and I'll understand ·</h3>
    <spacer class="small"></spacer>
    <h2>The One Day Experience</h2>

    <spacer class="small"></spacer>

    <h4>
    One Day Experience provides a platform connecting young people with professionals willing to offer one day, on the job, experience in their sector. 
    </h4>

    <spacer class="small"></spacer>
    <h4>
    One Day experience will help young people make more informed choices about which career to embark upon.
    </h4>

    <spacer class="large"></spacer>

    <h2>Why should I get involved?</h2>

    <spacer class="small"></spacer>

    <h4>
    Young people will have the opportunity to discover what a given job really entails, and the route through which the professional reached their job. The experience will also help widen the young person's network.
    </h4> 

    <spacer class="small"></spacer>

    <h4>
    Professionals are given the opportunity to share their passions, and to support and inspire the young people in their community.
    </h4>
    
    <spacer class="small"></spacer>
    
    <h4>
    They are also afforded the opportunity to get to know passionate young people who are interested in their field of work, and who might become their colleagues in the future.... One Day.
    </h4>

    <spacer class="large"></spacer>

  </section>
<!-- End of center field -->
</body>

<!-- Cols in place for positioning purposes -->
<section class="col-sacrificial1 span_1_of_16"></section>
<section class="col-sacrificial1 span_1_of_16"></section>
<section class="col-sacrificial1 span_1_of_16"></section>