


<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>

<section class="col-left-circle span_1_of_16">
	<circle class="navigation-circle">
	</circle>
</section>
<section class="col-sacrificial span_1_of_16">
</section>


<section class="col-center span_4_of_16">
	<feature class="photo_field">
		<img align="middle" src="/images/Fields/architecture-05.png" id="tokyo"/>

		<description class="feature-description">
			
				<img class='profile-img' src="/images/profiles/johnny-prf-small.jpg">
		
			<text class="text-summary">
			<h5>Johnny Lakin</h5>
			<p>Try being a web designer for a day</p>
			</text>
		</description>
	</feature>
</section>


<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
	<circle class="navigation-circle">
	</circle>
</section>

<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>

<header class="title">
<h2> Tell me and I'll forget · Show me and I'll remember · Involve me and I'll understand </h2>
</header>
<section class="col2">

	<box id="pro-name">
		<h3 class="pro-details"> @professional.name </h3>
	</box>

	

	<box id="pro-img">
		
	</box>
	<box id="pro-prof">	
		<h3 class="pro-details"> @professional.profession </h3>
	</box>
	<box id="pro-details">
		<h3 class="pro-details"> @professional.info </h3>
	</box>

	<span class="answers"> Yes </span>
	<span class="answers"> No </span>

</section>

<section class="col3">

</section>

