<section class="col1">

	<diamond class="diamond" id="back"></diamond>
	<circle id="no"></circle>

</section>

<section class="col2">

	<box id="pro-img"><img id="tokyo" src="/images/tokyo-city.jpg" id="tokyo"/></box>


</section>

<section class="col3">

	<circle id="yes"></circle>
	<diamond class="diamond" id="forward"></diamond>

</section>

