


	<!-- Cols in place for positioning purposes -->
	<column class="col-sacrificial1 span_1_of_16"></column>
	<column class="col-sacrificial1 span_1_of_16"></column>
	<column class="col-sacrificial2 span_1_of_16"></column>


	<!-- Button for previous -->
	<column  class="col-left-circle span_2_of_16">
		
		<circle id="left-circle" class="navigation-circle">
		<a href="#">

			<svg version="1.1" id="left-circle-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="269.83px" height="269.831px" viewBox="0 0 269.83 269.831" enable-background="new 0 0 269.83 269.831" xml:space="preserve">
				<g>
					<g>
						<path fill="#6ABEDB" d="M131.329,19.728c30.625,0,59.417,11.926,81.072,33.581s33.581,50.447,33.581,81.072
							s-11.926,59.417-33.581,81.072s-50.447,33.581-81.072,33.581s-59.417-11.926-81.072-33.581s-33.581-50.447-33.581-81.072
							s11.926-59.417,33.581-81.072S100.704,19.728,131.329,19.728 M131.329,17.728c-64.426,0-116.653,52.228-116.653,116.653
							s52.228,116.653,116.653,116.653s116.653-52.228,116.653-116.653S195.755,17.728,131.329,17.728L131.329,17.728z"/>
					</g>
				</g>
				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="109.8301" y1="135.3652" x2="172.1865" y2="135.3652">
					<stop  offset="0" style="stop-color:#6ABEDB"/>
					<stop  offset="1" style="stop-color:#96CCDB"/>
				</linearGradient>
				<polygon fill="url(#SVGID_1_)" points="109.83,171.367 172.187,135.365 109.83,99.364 "/>
			</svg>

			
		</a>
		</circle>

	</column>
	<column class="col-sacrificial2 span_1_of_16">
	</column>

	<!-- Center field - profile image and buttons -->
	<column class="col-center span_4_of_16">
		<feature class="photo_field vertical_align">

			<a href="#" id="photo-field-link">
				
				<description id="index-feature-job-description">
					
					<text class="text-summary">	
						<p>1 day in the life of the</p>				
						<h5 id="buddy-job"></h5>
					</text>
				</description>

				<img align="middle" src="/images/grey.png" id="field-img" alt="Image not found" onError="this.src='/images/medium/missing.png';"/>

				<description id="index-feature-description">
					<img class='profile-img' id='profile-pic'>
					<text class="text-summary">
						<h5 id="buddy-name"><span id="buddy-company"></span></h5>
						<p id="buddy-info"></p>
					</text>
				</description>

			</a>

		</feature>
	</column>
	<!-- End of center field -->

	<!-- Button for next -->
	<column class="col-sacrificial2 span_1_of_16"></column>
	<column class="col-sacrificial span_2_of_16">
		<circle id="right-circle" class="navigation-circle">
		<a href='#'>
			<svg version="1.1" id="right-circle-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="269.83px" height="269.831px" viewBox="0 0 269.83 269.831" enable-background="new 0 0 269.83 269.831" xml:space="preserve">
				<g>
					<g>
						<path fill="#6ABEDB" d="M131.329,19.728c30.625,0,59.417,11.926,81.072,33.581s33.581,50.447,33.581,81.072
							s-11.926,59.417-33.581,81.072s-50.447,33.581-81.072,33.581s-59.417-11.926-81.072-33.581s-33.581-50.447-33.581-81.072
							s11.926-59.417,33.581-81.072S100.704,19.728,131.329,19.728 M131.329,17.728c-64.426,0-116.653,52.228-116.653,116.653
							s52.228,116.653,116.653,116.653s116.653-52.228,116.653-116.653S195.755,17.728,131.329,17.728L131.329,17.728z"/>
					</g>
				</g>
				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="109.8301" y1="135.3652" x2="172.1865" y2="135.3652">
					<stop  offset="0" style="stop-color:#6ABEDB"/>
					<stop  offset="1" style="stop-color:#96CCDB"/>
				</linearGradient>
				<polygon fill="url(#SVGID_1_)" points="109.83,171.367 172.187,135.365 109.83,99.364 "/>
			</svg>
		</a>
		</circle>
	</column>

	<!-- Cols in place for positioning purposes -->

	<column class="col-sacrificial2 span_1_of_16"></column>
	<column class="col-sacrificial1 span_1_of_16"></column>
	<column class="col-sacrificial1 span_1_of_16"></column>



