<header class="title">
<h2> Tell me and I'll forget · Show me and I'll remember · Involve me and I'll understand </h2>
</header>

<section class="col1">

</section>

<section class="col2">

	<box id="pro-name">
		<h3 class="pro-details"> @professional.name </h3>
	</box>

	<box id="pro-img">
		<h3 class="pro-details"> @professional.profile_img </h3>
	</box>
	<box id="pro-prof">	
		<h3 class="pro-details"> @professional.profession </h3>
	</box>
	<box id="pro-details">
		<h3 class="pro-details"> @professional.info </h3>
	</box>

	<span class="answers"> Yes </span>
	<span class="answers"> No </span>

</section>

<section class="col3">

</section>