<!-- Cols in place for positioning purposes -->
<section class="col-sacrificial span_1_of_16"></section>
<section class="col-sacrificial span_1_of_16"></section>
<section class="col-sacrificial span_1_of_16"></section>
<section class="col-sacrificial span_1_of_16"></section>

<!-- Button for previous -->
<section  class="col-left-circle span_1_of_16">
	<circle id="left-circle" class="navigation-circle">
	</circle>
</section>
<section class="col-sacrificial span_1_of_16">
</section>

<!-- Center field - profile image and buttons -->
<section class="col-center span_4_of_16">
	<feature class="photo_field vertical_align">
		<a href="#" id="photo-field-link">
			<img align="middle" src="/images/grey.png" id="field-img" alt="Image not found" onError="this.src='/images/medium/missing.png';"/>
			<description class="feature-description">
				<img class='profile-img' id='profile-pic'>
				<text class="text-summary">
					<h5 id="buddy-name"><span id="buddy-company"></span></h5>
					<p id="buddy-info"></p>
				</text>
			</description>
		</a>
	</feature>
</section>
<!-- End of center field -->

<!-- Button for next -->
<section class="col-sacrificial span_1_of_16"></section>
<section class="col-sacrificial span_1_of_16">
	<circle id="right-circle" class="navigation-circle">
	</circle>
</section>

<!-- Cols in place for positioning purposes -->
<section class="col-sacrificial span_1_of_16"></section>
<section class="col-sacrificial span_1_of_16"></section>
<section class="col-sacrificial span_1_of_16"></section>
<section class="col-sacrificial span_1_of_16"></section>
