



<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>

<section  class="col-left-circle span_1_of_16">
	<circle id="yes" class="navigation-circle">
	</circle>
</section>

<section class="col-sacrificial span_1_of_16">
</section>


<section class="col-center span_4_of_16">
	<feature class="photo_field">
		<img align="middle" src="/images/Fields/architecture-05.png" id="tokyo"/>

		<description class="feature-description">
			
				<img class='profile-img' src="/images/profiles/johnny-prf-small.jpg">
		
			<text class="text-summary">
			<h5>Johnny Lakin</h5>
			<p>Try being a web designer for a day</p>
			</text>
		</description>
	</feature>
</section>


<section class="col-sacrificial span_1_of_16">
</section>

<section class="col-sacrificial span_1_of_16">
	<circle class="navigation-circle">
	</circle>
</section>

<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>
<section class="col-sacrificial span_1_of_16">
</section>
