<column class="col-sacrificial span_1_of_16"></column>
<column class="col-sacrificial span_4_of_16">
<%= link_to new_professional_registration_path do%>
		<p class="sign_up_links">Sign Up As A Professional</p>
<% end %>

<%= link_to new_student_registration_path do %>
		<p class="sign_up_links">Sign Up As A Student</p>
<% end %>
</column>
