<column class="col-sacrificial1 span_1_of_16"></column>
<column class="col-sacrificial1 span_1_of_16"></column>
<column class="col-sacrificial2 span_1_of_16"></column>
<column class="col span_4_of_16" style="background-color:red;">
<%= link_to new_professional_registration_path do%>
		<p class="sign_up_links">Sign Up As A Professional</p>
<% end %>

</column>
<column class="col-sacrificial2 span_1_of_16"></column>
<column class="col-sacrificial2 span_1_of_16"></column>
<column class="col span_4_of_16" style="background-color:red;">

<%= link_to new_student_registration_path do %>
		<p class="sign_up_links">Sign Up As A Student</p>
<% end %>
</column>
<column class="col-sacrificial2 span_1_of_16"></column>
<column class="col-sacrificial1 span_1_of_16"></column>
<column class="col-sacrificial1 span_1_of_16"></column>
