<column class="col-sacrificial span_1_of_16"></column>
<column class="col-sacrificial span_4_of_16">
<%= link_to new_student_session_path do%>
	
		<p class="sign_in-links">Student Sign in</p>
	
<% end %>

<%= link_to new_professional_session_path do%>
	
		<p class="sign_in-links">Professional Sign in</p>
	
<% end %>
</column>